<h1>Borrowing</h1>
<form>

  <div>
    <li><a href="#">Dashboard</a></li>
    <li><a href="#">Lend</a></li>
    <li><a href="#">Borrow</a></li>
    <li><a href="#">Logout</a></li>
  </div>

  <div>
    <ul>
    <li><a href="#">Electronic Beauty</a></li>
    <li><a href="#">Outdoors</a></li>
    <li><a href="#">Gardening</a></li>
    <li><a href="#">DIY</a></li>
    <li><a href="#">Entertainment</a></li>
    <li><a href="#">Kitchen</a></li>
  </ul>

  </div>

  <h1>Recently Added</h1>
<div>
  <ul>
  <li><img src="" alt=""></li>
  <li><img src="" alt=""></li>
  <li><img src="" alt=""></li>
  <li><img src="" alt=""></li>
</ul>
</div>

<div>
  <ul>
  <li><img src="" alt=""></li>
  <li><img src="" alt=""></li>
  <li><img src="" alt=""></li>
  <li><img src="" alt=""></li>
</ul>
</div>



</form>
