<h1>Dashboard</h1>

<a ui-sref="itemsNew">New</a>


<div>
  <h1>Hi User</h1>
  <p>You have a request pending.</p>

</div>

<div>
  <img src="" alt="">
  //rating
  <h1>Member Since 2017</h1>
</div>

<div>
  <h1>Items Lending</h1>
  <img src="" alt="">
  <form>
<input type="checkbox" name="" value="">Active<br>
</form>
</div>
<div>
    <h1>Items Borrowing</h1>
    <img src="" alt="">
    <form>
  <input type="checkbox" name="" value="">Active<br>
  </form>
  <h1>History:</h1>
  <ul>
    <li></li>

  </ul>

</div>
