<!DOCTYPE html>

<div style="text-align: center;">
  <h1 style="font-family: Pacifico; font-size: 60px;">BORRO</h1>
  <p style="line-height: 30px;">Welcome to Borro!<br>
  An app that allows you to share your items with your neighbors.<br>
  Whether you need to borrow a landmower, a hairdryer, or a raclette party kit,<br>
  there will always be a member happy to lend you their item.<br>
  Borro is the new social place where you can trust people and make new friends! <br>
  Hope you enjoy it!</p>

</div>
