body {
  margin: 0 auto;
  max-width: 960px;

}

p {
  padding: 0 10px 10px 10px;
  margin: 10px;
  margin-top: 0;
}


img {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  margin: 10px;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.profileItemPic {
  width: 150px;
}

.pure-button {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

#borrow-lend {
  border: 1px solid black
}

main {
  max-width: 960px;
  margin: 0 auto;
  background-color: #F8FCFB;
  border: 2px solid #CAEDDF;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
}

.pure-menu-horizontal{
  background-color: #D3F1F5;;
}

.pure-menu-list a,  {
  color: #639EA8;
  font-family: 'Raleway', sans-serif;
}

.pure-menu-heading {
  box-sizing: border-box;
  font-family: 'Pacifico', cursive;
  color: #263C3F;
  font-size: 20px;
}

.pure-form {
  box-sizing: border-box;
  margin-left: 300px;
  width: 100%;
}

li {
  list-style-type: none;
}

.pure-form select, .pure-form input, .pure-form textarea {
  width: 300px;
}
