body {
  margin: 0 auto;
}

p {
  padding: 0px 10px 10px 10px;
  margin: 10px;
  margin-top: 0;
}


img {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  margin: 10px;
  margin-bottom: 0;
  padding: 10px;
}

.pure-menu {
  line-height: 40px;
}

.profileItemPic {
  width: 150px;
}

.pure-button {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

#borrow-lend {
  border: 1px solid black
}

main {
  max-width: 960px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}
