img {
  width: 300px;
}

.profileItemPic {
  width: 150px;
}

.pure-button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65); /* this is a green */
  font-size: 125%;
}
