<div>
  <h1>Edit your item</h1>
</div>

<form ng-submit="vm.update()">

  <div class="">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" ng-model="vm.item.title">
  </div>

  <div class="">
    <label for="type">Type</label>
    <input type="text" name="type" id="type" ng-model="vm.item.type">
  </div>

  <div class="">
    <label for="make">Make</label>
    <input type="text" name="make" id="make" ng-model="vm.item.make">
  </div>

  <div class="">
    <label for="model">Model</label>
    <input type="text" name="model" id="model" ng-model="vm.item.model">
  </div>

  <div class="">
    <label for="photo">Link to photo</label>
    <input type="text" name="photo" id="photo" ng-model="vm.item.photo">
  </div>

  <div class="">
    <label for="info">Information for the borrower</label>
    <input type="text" name="info" id="info" ng-model="vm.item.noteFromTheOwner">
  </div>

<button class="" ui-sref="itemsShow({ id: vm.item._id })">Cancel</button>
<button class="">Update</button>


</form>
