<!DOCTYPE html>
<div>
  <h1 class="pure-form">Add a new item</h1>
</div>

<form ng-submit="itemsNew.create()" class="pure-form" style="padding-bottom: 10px;">

  <div>
    <input type="text" name="title" ng-model="itemsNew.item.title" placeholder="Title">
  </div>

  <div style="width: 188,19;">
    <select name="category" ng-model="itemsNew.item.category" ng-options="item as item for item in itemsNew.list">
    </select>
  </div>

  <div>
    <input type="text" name="type" id="type" ng-model="itemsNew.item.type" placeholder="Type of item" >
  </div>

  <div>
    <input type="text" name="make" id="make" ng-model="itemsNew.item.make" placeholder="Make">
  </div>

  <div>
    <input type="text" name="model" id="model" ng-model="itemsNew.item.model" placeholder="Model">
  </div>

  <div>
    <input type="text" name="photo" id="photo" ng-model="itemsNew.item.photo" placeholder="Photo url">
  </div>

  <div>
    <textarea name="note" rows="2" cols="30" ng-model="itemsNew.item.noteFromTheOwner" id="note" placeholder="Information for the borrower"></textarea>
  </div>

  <button type="button" name="button" ui-sref="usersShow({id: body.user._id})" class="button-error pure-button" style="margin-top: 20px;">Cancel</button>
  <button class="button-success pure-button" style="margin-top: 20px;">Add Item</button>

</form>
