<!DOCTYPE html>
<div>
  <h1>Add a new item</h1>
</div>

<form ng-submit="itemsNew.create()">

  <div>
    <label for="title">Title</label>
    <input type="text" name="title" ng-model="itemsNew.item.title">
  </div>

  <div>
    <label for="category">Category</label>
    <select name="category" ng-model="itemsNew.item.category" ng-options="item as item for item in itemsNew.list">
    </select>
  </div>


  <div>
    <label for="type">Type of item</label>
    <input type="text" name="type" id="type" ng-model="itemsNew.item.type">
  </div>

  <div>
    <label for="make">Make</label>
    <input type="text" name="make" id="make" ng-model="itemsNew.item.make">
  </div>

  <div>
    <label for="model">Model</label>
    <input type="text" name="model" id="model" ng-model="itemsNew.item.model">
  </div>

  <div>
    <label for="photo">Photo</label>
    <input type="text" name="photo" id="photo" ng-model="itemsNew.item.photo">
  </div>

  <div>
    <label for="note">Information for the borrower</label><br>
    <textarea name="note" rows="2" cols="30" ng-model="itemsNew.item.noteFromTheOwner" id="note"></textarea>
  </div>

  <button type="button" name="button" ui-sref="usersShow({id: body.user._id})">Cancel</button>
  <button>Add Item</button>

</form>
