<!DOCTYPE html>
<div>
  <img ng-src="{{ itemsShow.item.photo }}">
</div>

<div>
  <p><h1>{{ itemsShow.item.title }}</h1></p>
  <h3>Category: {{ itemsShow.item.category.name }}</h3>
  <h3>Type: {{ itemsShow.item.type }}</h3>
  <h3>Brand: {{ itemsShow.item.make }}</h3>
  <h3>{{ itemsShow.item.model }}</h3>
</div>

<hr>

<div ui-sref="usersShow({ id: itemsShow.item.owner._id })">
  <p> Owned by: {{ itemsShow.item.owner.firstName }} {{ itemsShow.item.owner.lastName }}</p>
</div>

<div ui-sref="usersShow({ id: itemsShow.item.borrower._id })">
  <p> Currently borrowed by: {{ itemsShow.item.borrower.firstName }} {{ itemsShow.item.borrower.lastName }}</p>
</div>

<hr>

<div>
  <h2>Note From The Owner:</h2>

  <p>{{ itemsShow.item.noteFromTheOwner }}</p>
</div>

<!-- <div>
  <p>Placeholder for Google Map</p>
</div>

<div>
  <p>Placeholder for question section</p>
</div> -->

<hr>

<div>
  <h2 class="pure-form">Make a request:</h2>
  <form ng-submit="itemsShow.createRequest()" class="pure-form">
    <label for="message">Message</label><br/>
    <textarea name="message" ng-model="itemsShow.request.message"></textarea><br/>
    <button class="button-success pure-button">Submit Request</button>
  </form>
</div>
