<div>
  <img ng-src="{{ itemsShow.item.photo }}">
</div>

<div>
  <p><h1>{{ itemsShow.item.title }}</h1></p>
  <p><h2>{{ itemsShow.item.type }}</h2></p>
  <p><h3>{{ itemsShow.item.make }}</h3></p>
  <p><h3>{{ itemsShow.item.model }}</h3></p>
</div>

<div ui-sref="usersShow({ id: itemsShow.item.owner._id })">
  <p>{{ itemsShow.item.owner.firstName }} {{ itemsShow.item.owner.lastName }}</p>
</div>

<div>
  <p>{{ itemsShow.item.noteFromTheOwner }}</p>
</div>

<div>
  <p>Placeholder for Google Map</p>
</div>

<div>
  <p>Placeholder for question section</p>
</div>
