<div>
  <img ng-src="{{ itemsShow.item.photo }}">
</div>

<div>
  <p><h1>{{ itemsShow.item.title }}</h1></p>
  <p><h2>{{ itemsShow.item.type }}</h2></p>
  <p><h2>{{ itemsShow.item.category.name }}</h2></p>
  <p><h3>{{ itemsShow.item.make }}</h3></p>
  <p><h3>{{ itemsShow.item.model }}</h3></p>
</div>

<div ui-sref="usersShow({ id: itemsShow.item.owner._id })">
  <p> Owned by {{ itemsShow.item.owner.firstName }} {{ itemsShow.item.owner.lastName }}</p>
</div>

<div ui-sref="usersShow({ id: itemsShow.item.borrower._id })">
  <p> Currently borrowed by {{ itemsShow.item.borrower.firstName }} {{ itemsShow.item.borrower.lastName }}</p>
</div>

<div>
  <p>{{ itemsShow.item.noteFromTheOwner }}</p>
</div>

<div>
  <p>Placeholder for Google Map</p>
</div>

<div>
  <p>Placeholder for question section</p>
</div>

<div>
  <h2>Make a request</h2>
  <form ng-submit="itemsShow.createRequest()">
    <label for="message">Message</label>
    <textarea name="message" ng-model="itemsShow.request.message"></textarea>
    <button>Submit Request</button>
  </form>
</div>
